.page {
  overflow: auto;
	// もう一つ余白を作る
  // padding:    var(--space-7) var(--space-5);
  // background: var(--gray-3);

	// スクロールバーのカスタム
  // &::-webkit-scrollbar { width: 8px; }
  // &::-webkit-scrollbar-track { background: var(--gray-3); }
  // &::-webkit-scrollbar-thumb {
	// 	background: var(--gray-7);
  //   border-radius: var(--radius-full);
  //   &:hover { background: var(--gray-8); }
  // }
}
