.content {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--space-4);
	padding: var(--space-7);
	position: relative;
}

.closeButton {
	position:absolute;
	top: var(--space-5);
	right: var(--space-5);
}

.inviteCode {
	letter-spacing: 2px;
}
