.container {
	display: flex;
	flex-direction: column;
	gap: var(--space-1);
}

.fileLabel {
  display: flex;
  align-items: center;
  gap: var(--space-3);
}

.fileInput {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
  overflow: hidden;
}


