.sidebarWrapper {
	display: flex;
	flex-direction: column;
	gap: var(--space-4);
	height: fit-content;
	position: sticky;
	top: var(--space-4);
}

.sidebar {
	display: flex;
	flex-direction: column;
	gap: var(--space-4);
	padding: var(--space-4);
	background-color: var(--gray-1);
	border: 1px solid var(--gray-6);
	border-radius: var(--radius-3);
}

.section {
	display: flex;
	flex-direction: column;
	gap: var(--space-2);
}

.sectionHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.ownerItem {
	display: flex;
	align-items: center;
	gap: var(--space-3);
}

.collaboratorList {
	display: flex;
	flex-direction: column;
	gap: var(--space-2);
}

.collaboratorItem {
	display: flex;
	align-items: center;
	gap: var(--space-2);

	/* 削除ボタンを右端に寄せる */
	& > :last-child:not(:first-child):not(:nth-child(2)) {
		margin-left: auto;
	}
}


.authDetailRow {
	display: flex;
	flex-direction: column;
	gap: var(--space-1);
}

.authPerson {
	display: flex;
	align-items: center;
	gap: var(--space-2);
}

.projectTags {
	display: flex;
	flex-wrap: wrap;
	gap: var(--space-1);
}

.authorizationActions {
	display: flex;
	gap: var(--space-2);
}

.actions {
	display: flex;
	flex-direction: column;
	gap: var(--space-2);
}
