.rt-TableRootTable {
	width: max-content;
	min-width: 100%;
}

.cell-selected {
	background-color: var(--accent-a3);
	box-shadow: inset 0 0 0 1px var(--accent-7);
}

.selecting {
	user-select: none;
}
