.root {
	:global(.rt-TableRootTable) {
		width: max-content;
		min-width: 100%;
	}

	:global(.rt-TableHeader) {
		--table-row-background-color: var(--gray-a1);
	}
}

.cellSelected {
	background-color: var(--accent-a3);
	box-shadow: inset 0 0 0 1px var(--accent-7);
}

.selecting {
	user-select: none;
}

.selectionInfo {
	background-color: var(--gray-a3);
	border-radius: var(--radius-2);
}
