.dialogContent {
  max-width: 1100px;
  height: 90vh;

  display: flex;
  flex-direction: column;
	align-items: center;
  padding: var(--space-7);

	overflow: hidden;
}

.scrollArea {
	width: 100%;
	max-width: 500px;
	flex-grow: 1;
	overflow-y: auto;
}
