.formLi {
  list-style: none;
}

.card {
  position: relative;
  background-color: var(--gray-1);
  border-radius: var(--radius-3);
  padding: var(--space-4);
	padding-top: var(--space-6);
  margin-bottom: var(--space-3);
  box-shadow: var(--shadow-2);

  display: flex;
  flex-direction: column;
  gap: var(--space-3);
}

.dragging {
  opacity: 0.5;
}

.dragHandle {
  cursor: grab;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  font-size: var(--font-size-4);
  user-select: none;

  background-color: transparent;
  border: none;
  width: fit-content;
}

.itemOperateButtons {
  position: absolute;
  top: var(--space-2);
  right: var(--space-4);
  display: flex;
  gap: var(--space-4);
}

.questionInput {
  font-size: var(--font-size-3);
  border: none;
  border-bottom: 1px solid var(--gray-6);
  padding: var(--space-1);
  outline: none;

  &:focus {
    border-bottom: 2px solid var(--accent-9);
  }
}

.typeSelect {
  align-self: flex-end;
  font-size: var(--font-size-3);
  padding: var(--space-2) var(--space-3);
  border-radius: var(--radius-2);
  border: 1px solid var(--gray-6);
  background-color: var(--gray-1);

  &:focus {
    outline: none;
    border-color: var(--accent-9);
  }
}

.required {
  display: flex;
  align-items: center;
  gap: var(--space-2);
  font-size: var(--font-size-3);
  color: var(--gray-11);
}

.deleteButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: var(--font-size-4);
  color: var(--gray-10);

  &:hover {
    color: var(--red-9);
  }
}

.formItemSetting {
  display: flex;
  align-items: center;
  gap: var(--space-4);
}

.selectWrapper {
  min-width: 0;
}

.trigger {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: var(--space-2) var(--space-3);
  min-height: var(--space-6);
  cursor: pointer;
}

.triggerContent {
  display: flex;
  align-items: center;
  gap: var(--space-2);
  width: 100%;
  min-width: 0;
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: var(--space-5);
  height: var(--space-5);
}

.label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
  min-width: 0;
}

.content {
  border: 1px solid var(--gray-6);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-3);
  z-index: 1000;
  min-width: calc(var(--space-9) * 3);
}

.itemContent {
  display: flex;
  align-items: center;
  gap: var(--space-3);
  width: 100%;
  padding: 0 var(--space-2);
}

.itemIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: var(--space-5);
  height: var(--space-5);
}
