.formLi {
  list-style: none;
}

.card {
  position: relative;
  background-color: var(--gray-1);
  border-radius: var(--radius-3);
  padding: var(--space-4);
	padding-top: var(--space-6);
  margin-bottom: var(--space-3);
  box-shadow: var(--shadow-2);

  display: flex;
  flex-direction: column;
  gap: var(--space-3);
}

.dragging {
  opacity: 0.5;
}

.dragHandle {
  cursor: grab;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  font-size: var(--font-size-4);
  user-select: none;

  background-color: transparent;
  border: none;
  width: fit-content;
}

.itemOperateButtons {
  position: absolute;
  top: var(--space-2);
  right: var(--space-4);
  display: flex;
  gap: var(--space-4);
}

.formItemSetting {
  display: flex;
  align-items: center;
  gap: var(--space-4);
}
