.label {
	display: flex;
	align-items: center;
	gap: var(--space-2);
	cursor: pointer;

	& button {
		cursor: pointer;
	}

	&:has(:disabled) {
		cursor: not-allowed;

		& button {
			cursor: not-allowed;
		}
	}
}
