.content {
	:global(.tiptap) {
		outline: none;
		font-size: var(--font-size-2);
		line-height: var(--line-height-2);

		> * + * {
			margin-top: var(--space-2);
		}

		a {
			color: var(--accent-11);
			text-decoration: underline;
			cursor: pointer;
		}

		ul,
		ol {
			padding-left: var(--space-5);
		}

		ul {
			list-style-type: disc;
		}

		ol {
			list-style-type: decimal;
		}

		blockquote {
			border-left: 3px solid var(--gray-a6);
			padding-left: var(--space-3);
			color: var(--gray-11);
		}

		strong {
			font-weight: bold;
		}

		em {
			font-style: italic;
		}

		s {
			text-decoration: line-through;
		}
	}
}
