.trigger {
	background: none;
	border: none;
	padding: var(--space-1);
	border-radius: var(--radius-2);
	cursor: pointer;
	display: flex;

	color: var(--gray-11);

	&:hover {
		background-color: var(--gray-3);
	}
}

.menu {
	display: flex;
	flex-direction: column;
	gap: var(--space-1);
	align-items: flex-start;
}
