.container {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	margin: 0 auto;
	padding: var(--space-9) var(--space-4);
}

.header {
	display: flex;
	flex-direction: column;
	gap: var(--space-2);
	margin-bottom: var(--space-6);
}

.form {
	display: flex;
	flex-direction: column;
	gap: var(--space-4);
}

.footer {
	margin-top: var(--space-4);
}
